<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%- title%></title>
    <meta name="keywords" content="关键词">
    <meta name="description" content="描述">
    <meta name="author" content="tfj">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
</head>
