<% include header.ejs %>

<body>

    <div class="layui-bg-blue">
        <div class="layui-header layui-main">
            <ul class="layui-nav layui-bg-blue">
                <li class="layui-nav-item layui-this"><a href="/">任务大厅</a></li>
            </ul>
            <ul class="layui-nav layui-bg-blue layui-layout-right ">
                <% if (login){ %>
                <li class="layui-nav-item">当前用户:
                    <%- user.username %>
                </li>

                <% if (user.level >= 10) { %>
                <li class="layui-nav-item"><a href="/admin/user">后台管理</a></li>
                <% } %>

                <li class="layui-nav-item"><a href="/logout">退出</a></li>
                <% } else { %>
                <li class="layui-nav-item"><a href="/login">登陆</a></li>
                <li class="layui-nav-item"><a href="/reg">注册</a></li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="layui-main" style="padding-top: 15px;">

        <div id="buts" class="layui-header" style="height: 38px;">
            <button class="layui-btn layui-btn-normal" data-method="all">全部任务</button>
            <button class="layui-btn layui-btn-normal" data-method="not">可以接取的任务</button>
            <button class="layui-btn layui-btn-normal" data-method="finished">不可接取的任务</button>

        </div>

        <table class="layui-table" lay-skin="line" id="parse-table-demo" lay-filter="parse-table-demo"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="show">查看详情</a>
        </script>
    </div>


    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use(['element', 'table', 'layer', 'util'], function () {
            const element = layui.element,
                table = layui.table,
                util = layui.util,
                $ = layui.$;

            const active = {
                all: function () {
                    table.reload('parse-table-demo', {
                        url: '/querytaskall'
                    })
                },
                not: function () {
                    table.reload('parse-table-demo', {
                        url: '/querytasknot'
                    })
                },
                received: function () {
                    table.reload('parse-table-demo', {
                        url: '/querytaskreceived'
                    })
                },
                havePublished: function () {
                    table.reload('parse-table-demo', {
                        url: '/query/havePublished'
                    });
                },
                publishUnderway: function () {
                    table.reload('parse-table-demo', {
                        url: '/query/publishUnderway'
                    });
                },
                finished: function () {
                    table.reload('parse-table-demo', {
                        url: '/finished'
                    });
                }
            };
            $('#buts .layui-btn').on('click', function () {
                var othis = $(this),
                    method = othis.data('method');
                active[method] ? active[method].call(this, othis) : '';
            });

            table.on('tool(parse-table-demo)', function (obj) {
                const data = obj.data;
                if (obj.event === 'show') {
                    location.href = '/task/' + data._id
                }
            });

            table.render({
                elem: '#parse-table-demo',
                url: '/querytaskall',
                method: 'post',
                page: true,
                limit: 20,
                loading: true,
                skin: 'line',
                cols: [
                    [{
                            field: 'author',
                            title: '发布人',
                            width: 115,
                            align: 'center',
                            templet: function (d) {
                                // console.log(d);
                                return d.author.username
                            }
                        }, {
                            field: 'title',
                            title: '主题',
                            width: 441,
                            align: 'center'
                        }
                        /*, {
                            field: 'publishTime', title: '发布时间', width: 160, align: 'center', sort: true, templet: function (d) {
                            return layui.util.toDateString(d.publishTime)
                            }
                        }*/
                        , {
                            field: 'expiration',
                            title: '截止日期',
                            width: 160,
                            align: 'center',
                            sort: true,
                            templet: function (d) {
                                return d.expiration
                            }
                        }, {
                            field: 'receiveName',
                            title: '已接取人数',
                            width: 115,
                            align: 'center',
                            templet: function (d) {
                                return d.receiver.length
                            }
                        }, {
                            field: 'num',
                            title: '最高接取人数',
                            width: 115,
                            align: 'center'
                            // templet: function (d) {
                            //     return d.num
                            //}
                        },{
                            field:'tool',
                            toolbar:'#barDemo'
                        }
                        /*, {
                            field: 'receiveTime', title: '奖励', align: 'center', templet: function (d) {
                            return d.finishBonus || ''
                            }
                        }*/
                        // ,{field: 'published', title: '是否发布', width: 90, align: 'center'}
                        // , {field: 'publishHard', title: '难度', width: 64, sort: true, align: 'center'}
                        
                    ]
                ]
            }) //…
        });
    </script>

</body>

</html>