<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="keywords" content="关键词">
    <meta name="description" content="描述">
    <meta name="author" content="tfj">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
</head>

<body>

    <div class="layui-bg-blue">
        <div class="layui-header layui-main">
            <ul class="layui-nav layui-bg-blue">
                <li class="layui-nav-item layui-this"><a href="/">任务大厅</a></li>
            </ul>
            <ul class="layui-nav layui-bg-blue layui-layout-right ">
                <% if (login){ %>
                <li class="layui-nav-item">当前用户:
                    <%- user.username %>
                </li>

                <% if (user.level >= 10) { %>
                <li class="layui-nav-item"><a href="/admin">后台管理</a></li>
                <% } %>

                <li class="layui-nav-item"><a href="/logout">退出</a></li>
                <% } else { %>
                <li class="layui-nav-item"><a href="/login">登陆</a></li>
                <li class="layui-nav-item"><a href="/reg">注册</a></li>
                <% } %>
            </ul>
        </div>
    </div>


    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function () {
            var element = layui.element;

            //…
        });
    </script>

</body>

</html>